/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}
.parallax-bg{
    background:url(./img/scott-graham-5fNmWej4tAA-unsplash.jpg);
    -webkit-background:url(./img/scott-graham-5fNmWej4tAA-unsplash.jpg);
    background-attachment: scroll, fixed;
    -webkit-background-attachment: fixed;
    background-color:rgba(97, 19, 19, .6);
    -webkit-background-color:rgba(97, 19, 19, .6);
    background-blend-mode: overlay;
    -webkit-background-blend-mode: overlay;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center;
    -webkit-background-position: center;
  }
  @media only screen and (max-width:991px) {
    .parallax-bg{
      background:url(./img/scott-graham-5fNmWej4tAA-unsplash.jpg);
      -webkit-background-size:cover;
      background-size: cover;
      background-position: center;
      -webkit-background-position: center;
      min-height: 100vh;
      background-color:rgba(97, 19, 19, .6);
      -webkit-background-color:rgba(97, 19, 19, .6);
      /* max-width: 100%; */
    }
  
  }

  @media only screen and (max-width:991px) {
    body{
      overflow-x: hidden;
    }
  }

  .larger{
    display: block;
  }
  @media screen and (max-width:1100px) {
    .larger{
      display: none;
    } 
  }
  .mobiler{
    display: none;
  }
  @media screen and (max-width:1100px) {
    .mobiler{
      display: block;
    } 
  }

/* .navitems > *{
  flex:1;
} */
.menuicon{
  /* border: 1px solid #808080; */
  padding-right:10px ;
  opacity: .6;
}
.menuicon i{
  padding: 3px 10px ;
  color:#f6eed2;
  font-size: 30px;
}
.swiper {
  position: relative;
  width: 100%;
  height: 100vh;
}
figure.snip1192 {
 
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #fff;
  text-align: left;
  box-shadow: none !important;
}
figure.snip1192 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1192 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  /* z-index: 1; */
  position: relative;
}
figure.snip1192 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: rgb(97, 19, 19);
  padding: 30px 50px 65px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 -50px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1192 blockquote:before {
  top: 35px;
  left: 20px;
}
figure.snip1192 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}
figure.snip1192 .author {
  margin: 0;
  text-align: center;
  color: #ffffff;
}
figure.snip1192 .author h5 {
  opacity: 0.8;
  margin: 0;
  color: #808080;
}
.navfixed{
  position: fixed;
  background-color:rgba(97, 19, 19,.6);
  top: 0;
  width: 100%;
  animation: navfixed .1s ease-in-out;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.65,.27,.63,.9) ;
  z-index: 9999;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width:991px) {
  .navfixed{
    position: fixed;
    background-color:rgba(97, 19, 19,.6);
    top: 0;
    min-width:80%;
    /* overflow-x: hidden; */
    animation: navfixed .1s ease-in-out;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.65,.27,.63,.9) ;
    z-index: 9999;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  }
}
@keyframes navfixed {
  from{
    position: relative;
  }
  to{
   position: fixed;
  }
}
.bgchange{
  background: #1a1a37;
  animation: bgchange .5s ease-in-out;
}
@keyframes bgchange {
  from{
    background: transparent;
    
  }
  to{
    background: #1a1a37;
  }
}
.ambiant{
  background: linear-gradient(-90deg,#e9d692, #eedea8, #f2e6bd, #f6eed2);
  /* background-size: 400% 400%; */
  animation: gradient 15s ease infinite;
  
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}